@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 1800px;
}

#navbar {
  width: 100%;
  height: 110px;
}

#orange > img {
  margin-left: 55px;
}

#shop p {
  margin-left: 65px;
  font-size: 12px;
}

#off {
  background-color: rgb(229, 240, 218);
  position: absolute;
  color: rgb(71, 93, 75);
  width: 38px;
  font-size: 13px;
  height: 38px;
  font-weight: 600;
  padding: 0px 5px;

  margin-left: -60px;
  margin-top: -577px;
}

#main {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

#best > img {
  position: absolute;
  width: 10%;
  margin-top: -305px;
  margin-left: 75px;
}

#image {
  float: left;
}

/* #product{

    display: flex;
} */

#product > img {
  width: 50%;
  margin-right: 398px;
  margin-top: 50px;
}

#cart {
  float: right;
  margin-top: -606px;
  margin-right: 200px;
}

.fa-share-nodes {
  margin-left: 20px;
  color: rgb(71, 93, 75);
}

#bigp {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

#smallp {
  margin-top: 20px;
}

#price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 48%;
  margin-left: -21px;
  margin-top: 15px;
}

#price > p + p {
  font-size: 18px;

  text-decoration: line-through;
}

#price > p > i {
  margin-right: 3px;
}

.fa-indian-rupee-sign {
  font-size: 16px;
  margin-top: 10px;
}

#star {
  margin-left: 123px;
  width: 47%;
  /* border: 1px solid black; */
  margin-top: -18px;
}

#rating {
  margin-left: 265px;
  margin-top: -29px;
}

#star > i {
  display: flex;
  margin-left: 294px;
  margin-top: -22px;
  font-size: 16px;
  /* justify-content: space-between; */
}

#tax {
  margin-top: 15px;
  font-size: 15px;
}

.fa-star {
  font-size: 12px;
  color: #475d4b;
}

#ask {
  float: right;
  display: flex;
  margin-top: -453px;
  margin-right: 195px;
}

#pipe {
  margin-right: 8px;
  color: #475d4b;
  font-size: 18px;
  margin-top: -3px;
}

.fa-comments {
  margin-right: 7px;
}

.fa-sharp {
  color: #475d4b;
  font-size: 20px;
}

button {
  width: 85px;
  height: 35px;
  font-size: 18px;
  float: right;
  margin-top: -400px;
  color: #475d4b;
  margin-right: 550px;
}

#add button {
  width: 466px;
  height: 48px;
  background-color: #475d4b;
  border: 0px;
  padding: 8px;
  margin-right: 170px;
  font-weight: 800;
  color: white;
  margin-top: -315px;
  border-radius: 6px;
}

h5 {
  color: #ffa442;
  font-size: 20px;
  font-weight: 590;
  margin-left: 865px;
  margin-top: -242px;
  border-radius: 6px;
}

h6 {
  float: right;
  margin-right: 150px;
  margin-top: -161px;
  color: #475d4b;
  background-color: #e5f0da;
}

#limithr {
  width: 35%;
  font-size: 0.6px;
  float: right;
  color: gray;
  margin-right: 160px;
  margin-top: -180px;
}

#limithr1 {
  width: 35%;
  font-size: 0.6px;
  float: right;
  color: gray;
  margin-right: 160px;
  margin-top: -2px;
}

#para1 {
  display: flex;
}

#para2 {
  margin-top: -56px;
}

#price1 {
  margin-left: 720px;
  margin-top: 60px;
  font-size: 14px;
  color: #475d4b;
  background-color: #e5f0da;
  width: 110px;
  padding-top: 3px;
  padding-left: 5px;
  border-radius: 4px;
  font-weight: 600;
  height: 30px;
}

#price2 {
  margin-left: 720px;
  margin-top: 60px;
  font-size: 14px;
  color: #475d4b;
  background-color: #e5f0da;
  width: 140px;
  padding-top: 3px;
  padding-left: 5px;
  border-radius: 4px;
  font-weight: 600;
  height: 30px;
}

#text1 {
  color: gray;
  width: 28%;
  font-size: 12px;
  height: 76px;
  /* float: right; */
  margin-left: -112px;
  margin-top: 96px;
}

#text2 {
  color: gray;
  width: 31%;
  font-size: 12px;
  height: 76px;
  /* float: right; */
  margin-left: 721px;
  margin-top: 3px;
}

/* #search{

    display: flex;
  } */

#search input {
  width: 496px;
  height: 46px;
  color: #475d4b;
  float: right;
  font-size: 15px;
  padding: 12px;
  margin-right: 10%;
  margin-top: 20px;
  border: 1px solid #adb8a8;
  border-radius: 10px;
}

#check {
  margin-right: -36.7%;
  margin-top: -4px;
  height: 46px;
  width: 12%;
  border: 1px solid #adb8a8;
  border-radius: 7px 7px 7px 5px;
  background-color: #e5f0da;
}

#afford {
  float: right;
  font-size: 13px;
  margin-right: -402px;
  margin-top: 62px;
}

#read {
  float: right;
  margin-right: -84px;
  font-size: 13px;
  margin-top: 100px;
  text-decoration: underline;
}

#speciality {
  display: flex;
  /* border: 1px solid black; */
  width: 35%;
  height: 200px;
  margin-top: 120px;
  margin-left: 730px;
}

#speciality img {
  width: 18%;
  height: 40%;
  margin: 6px 9px 0px 6px;
}

#spetext {
  display: flex;
  margin-top: 90px;
  font-size: 12px;
  margin-left: -70px;
}

#company {
  width: 100%;
  margin-top: 50px;
  height: 350px;
}

#company > p {
  margin-left: 145px;
  color: #4d4d4d;
  width: 52%;
}

#olive {
  color: #475d4b;
  font-weight: 600;
  margin: 20px 0px 20px 122px;
}

/* you may also like */

#like {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(440px);
  gap: 15px;
  /* float: right; */
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
  margin-top: 60px;
  /* height: 1300px; */
}

#like > div {
  /* border: 1px solid blue; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#like img {
  width: 100%;
}

#Best > img {
  position: absolute;
  width: 9%;
  margin-left: -2px;
}

#Off {
  background-color: #e5f0da;
  position: absolute;
  color: #475d4b;
  width: 35px;
  font-size: 12px;
  height: 35px;
  padding: 0px 4px;
  border-radius: 5px;
  margin-left: 200px;
}

#Price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 61%;
  margin-top: 15px;
}

#Price > p + p {
  font-size: 12px;
  margin-left: 40px;
  text-decoration: line-through;
}

#Price > p > i {
  margin-right: 5px;
}

#Star {
  margin-left: 123px;
  width: 47%;
  /* border: 1px solid black; */
  margin-top: -18px;
}

#Star > i {
  display: flex;
  margin-left: 90px;
  justify-content: space-between;
}

.fa-5 {
  color: #475d4b;
  font-size: 12px;
}

.fa-star {
  font-size: 12px;
}

#Bigp {
  font-size: 17px;
}

#Smallp {
  font-size: 13px;
  margin-top: -20px;
}

#added {
  width: 250px;
  height: 42px;
  margin-right: 0px;
  background-color: #475d4b;
  border: 0px;
  font-weight: 700;
  color: white;
  margin-top: 17px;
  border-radius: 12px;
}

/* 
    footer{

        background-color: #f1f7ec;
        height: 35%;
        margin-top: 50%;
        width: 100%;
        border: 1px solid gray;
    } */
