hr {
  width: 80%;
  margin: auto;
}
#poster > img {
  width: 100%;
}
.main_section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  list-style: none;
}

#lasttotal {
  width: 30%;
  /* border: 1px solid black; */
  font-weight: 500;
  margin-left: 85%;
  font-size: 20px;
  color: #475d4b;
}
#heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}
h1 {
  font-weight: 400;
  font-size: 40px;
}
#middle_section > ul > li:nth-child(2) {
  margin-left: 290px;
}
#middle_section > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  color: #475d4b;
}
#card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;

  gap: 40px;
}
#card > img {
  width: 100px;
  height: 100px;
}
#parabox {
  font-size: 15px;
  color: #121212;
  width: 28%;
  line-height: 16px;
  letter-spacing: 1px;
  font-family: "Segoe UI";
  margin-top: 10px;
}
#remove {
  margin-left: 200px;
  margin-top: 40px;
}
hr {
  color: #e5f0da;
  width: 100%;
  margin-top: 5px;
}
#checkout {
  width: 20%;
  height: 45px;
  background-color: #475d4b;
  border: 0px;
  font-weight: 700;
  color: white;
  margin-top: 10px;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 100px;
  margin-left: 85%;
}
