
#container{
    width: 30%;
    height: 400px;
    border: 0px solid red;
    text-align: center;
    margin: auto;
    margin-top: 10%
}
.h2{

  /* width: 95%;
  text-align: center;
  margin-left: 5%; */
  font-weight: 500;
  margin-top: 10px;

}

#email,#password{
  padding: 25px;
  height: 40px;
  margin-top: 5%;
}
form{
 display: grid;
 gap: 10px;
 
}

#submit{
  padding: 10px;
  width: 40%;
  height: 35px;
  margin: auto;
  border-radius: 5px;
  border: none;
  background-color: #475d4b;
  color: white;
  font-size: 16px;    

}

form>a{
     text-decoration: none;
     color: #475d4b;
}