#container{
    width: 90%;
    margin: auto;
    margin-top: 20vh;

}
#slider_1{
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content:center ;
}
#slider_2{
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content:center ;
    margin-top: 5vh;
}


.swiper{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    border-radius: 13px;
}
.child_slide{
    padding:1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 18%;
    text-align: center;
    justify-content: center;
    height: 100%;
    /* border: 1px solid red; */
    overflow: hidden;
}
.child_slide img{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width:100%;
    justify-content: center;
}
.detail_spotlight_prod{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 4%;
    background-color:#E5F0DA ;
}
.swiper-slide{
    display: flex;
    justify-content: space-around;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}
#spotlight_products .swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: whitesmoke;
    background-color: rgba(34, 34, 34, 0.482);
    border-radius: 15%;
}

.swiper .swiper-pagination-bullet-active{
    background: #fff;
}
#spotlight_products .swiper .swiper-pagination-bullet-active{
    background: #fff;
    display: none;
}
#spotlight_products .swiper .swiper-pagination-bullet{
    background: #fff;
    display: none;
}
#static_img1>img{
    margin-top: 5vh;
    width: 100%;
    border-radius: 3%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.tit{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 8vh;
}
.tit div{
    /* border: 1px solid blue; */
    background-color:#475d4bc5 ;
    width: 25%;
    height: 2.5px;
}
.tit h5{
    font-size: 25px;
    padding: 2px;
    color:#475d4bf6 ;
}
#best_seller_products{
    margin-top: 3vh;
    height: 50vh;
}
#spotlight_products{
    margin-top: 3vh;
    /* height: 60vh; */
    overflow: hidden;
    padding: 5% 0 5% 0;
}
#find_solutions_for{
    align-items: center;
    display: flex;
    height: 50vh;
    margin-top: 3vh;
    justify-content: space-around;
}
#luxury_fragrances{
    align-items: center;
    display: flex;
    height: 50vh;
    margin-top: 3vh;
    justify-content: space-around;
}
#luxury_fragrances img{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    transition: .3s ease-in-out;
    border-radius: 5px;
}
#find_solutions_for img{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    transition: .3s ease-in-out;
    border-radius: 5px;
}
#luxury_fragrances img:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.1);
    border-radius: 40px;
}
#find_solutions_for img:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: scale(1.1);
    border-radius: 40px;
}
#luxury_fragrances .lux_child{
    overflow: hidden;
    width: 18%;
}
#find_solutions_for .lux_child{
    overflow: hidden;
    width: 18%;
}
#trust_us_img img{
    margin-top: 6vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    width: 100%;
}
#bellacash img,#google_play_image img{
    width: 100%;
    margin-top: 5vh;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 400px;
}
.child{

    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    display: none;

    
}
.child img{
    height: 200px;
    width: 100%;
}
#leftarrow,#rightarrow{
    margin-left: 2.7%;
    width: 10%;
    display: inline-block;
}
#rightarrow button,#leftarrow button{
    font-weight: bold;
    cursor: pointer;
    font-size: 35px;
    background-color: rgba(32, 0, 0, 0.813);
    color: white;
    border-radius:14px;

}